@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.liveScreen{
    display: flex;
    justify-content: space-between;
    height: 86vh;
    color: white;
}
.actionProducts__div,.chat__div{
    width: 30%;
    padding: 20px 20px;
    height: 100%;
}
.liveVideo__div{
    width: 40%;
    border-left: 1px solid #f4f4f452;
    border-right: 1px solid #f4f4f452;
    padding: 20px 10px;
    position: relative;

}
/* livevideo styles */
.auction__name{
    font-weight: 600;
    font-size: 20px;
    text-align: left;
    font-family: 'Poppins', sans-serif;
}
.auction__scrollbar{
    display: flex;
    overflow-x: scroll;
    padding:20px 0;
}
::-webkit-scrollbar {
    display: none;
  }
.auction__single__title{
    padding: 10px 15px;
    /* margin: 10px; */
    /* flex-basis: 100px; */
    /* width: 20px; */
    flex-grow: 10;
    flex-shrink: 0;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;

}
.auction__title__name{

}
.search__products__input{
    background-color:black;
    border-color:  1px solid #f4f4f452 ;
    width: 90%;
    height: 50px;
    border-radius: 40px;
    padding: 0  20px;
    font-family: 'Poppins', sans-serif;
    color:white ;
    font-weight: 600;

}
.products__list{
    display: flex;
    flex-direction: column;
    text-align: left;
    overflow-y: scroll;
    height: 48vh;
   
}
.total__products__count{
    text-align: left;
    color: rgba(255, 255, 255, 0.453);
 font-family: 'Poppins', sans-serif ;
 padding: 20px 0;
 font-size: 17px;
}
.product__title{
    font-size: 14px;
    font-weight: 600;
}
.product__name{
    font-size: 14px;
    font-weight: 300;
}
.auction__title{
    color: rgba(255, 255, 255, 0.453);
    font-size: 13px;
}

/* livevideo styles */
.background__video{
    margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height:90%;
  width: 55%;
  background-image: url("https://res.cloudinary.com/proudposhak-com/image/upload/v1656932744/aestheticproject/livevideo_display_image_yhdcbt.jpg");
background-repeat: no-repeat;
background-size: cover;
padding:0 15px ;
}
.liveVideo__upperpart{
    display: flex;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif ;
    
}
.user__details__div{
    text-align: left;
    z-index: 1;
}
.share__video__div{
    text-align: right;
    z-index: 5;

}
.userimg__name{
    display: flex;
    margin-bottom: 8px;
}
.user__image{
    border-radius: 50%;
    padding-right: 8px;
}

.ratings__div, .followers__div{
font-size: 11px;
font-weight: 600;
color: rgba(255, 255, 255, 0.905);
}
.ratings__div{
    padding: 6px 0;
}
.followers__div{
    padding-bottom: 8px;
}
.rating__text{
    padding-left: 7px;
}

.follow__button{
    background-color: #FFF351;
    border-radius: 30px;
    color: black;
    text-align: center;
    max-width: max-content;
    padding: 4px 16px;
    font-size: 13px;
}

/* live share video second part styels */
.share__video__firstpart{
    display: flex;
    justify-content: space-between;
}
.livestreamers{
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.numberof__livestreamers{
    font-size: 13px;
    padding-left: 8px;
}
.share__video__link{
    border: 1px solid white;
    border-radius: 30px;
    padding: 3px 12px;
    font-size: 12px;
    display: flex;
    align-items: center;
    margin: 0 15px;
}
.copy__button{
    background-color: white;
    border-radius: 30px;
    color: black;
    padding: 5px 8px;
    font-size: 14px;
}
.share__video__secondpart{
    
    display: flex;
    justify-content: end;
    /* justify-content: space-around; */
}
.fb_image{
    margin: 0 12px;
}
.share_to_text{font-size: 15px;
    margin-right: 20px;
}
.liveVideo__lowerpart{
    display: flex;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif ;
    align-items: flex-end;
    margin-top:99%;
    
 

}
.lower__rightdiv, .lower__leftdiv{
    z-index: 1;
}
.lower__leftdiv{
    text-align: left;
}

.user__winning{
    background-color: #24232acc;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    padding: 2px 4px    ;
    align-items: center;
}
.user__img{
    border-radius: 50%;
}
.username{
    font-size: 11px;
    padding: 0 5px;
}
.iswinning_text{
    color: #07B188;
    font-size: 11px;
    font-weight: 600;
}
.product__auction{
    font-size: 18px;
    font-weight: 600;
    padding: 5px 0;
}
.shipping__and__tax__text{
    color: #1F89D4;
    font-size: 15px;
}
.volume__button{
    display: flex;
    justify-content: center;
    background-color:rgba(0, 0, 0, 0.376) ;
    border-radius: 50%;
    padding: 9px 3px;
    text-align: center;
}
.pay__button{
    margin: 10px 0;
    background-color:rgba(0, 0, 0, 0.376) ;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 9px 3px;
}
.pay__button__inner{
    display: flex;
    justify-content: center;
    background-color:white;
    font-size: 12px;
    font-weight: 600;
    border-radius: 40%;
    /* width: min-content; */
    padding: 2px 5px;
}
.pay__text{
    font-size: 12px;
    font-weight: 600;
}
.auction__price{
    padding: 3px 0;
    font-size: 20px;
    font-weight: 600;
}
.time__reamaining{
    color: red;
    font-weight: 400;
}

.lower__part__buttons{
    display: flex;
    justify-content: space-between;
}
.custome__button{
    z-index: 1;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 30px;
    width: 31%;

}
.bid__button{
    z-index: 1;
    background-color: #FFF351;
    color: black;
    border-radius: 30px;
    width: 51%;


}
.custome__button, .bid__button{
    padding: 5px 10px;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif ;

}